node_modules
node_modules_old/
dist/
.env
src-tauri/binaries/
/logs
*.log
*.tsbuildinfo
.nyc_output/
coverage/
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.sw?
*.suo
*.sln
*.njsproj
*.ntvs*
.idea
.vscode/*
!.vscode/extensions.json
windows-build/
